// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

/* -------------------------------- 
Typography
-------------------------------- */

:root {
  --font-primary: Inter;
  --font-secondary: sans-serif;

  /* set base values */
  --text-base-size: 1rem;
  --text-scale-ratio: 1.3;

  /* type scale */
  --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1rem / var(--text-scale-ratio));
  --text-md: calc(1rem * var(--text-scale-ratio));
  --text-lg: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* line-height */
  --heading-line-height: 1.375;
  --body-line-height: 1.375;

  /* main colors */
  --color-primary: $primary;
  --color-secondary: $primary;
}

// @include breakpoint(md) {
//   :root {
//     --text-base-size: 1.25rem;
//     --text-scale-ratio: 1.25;
//   }
// }

body,
button,
input,
select,
textarea {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend,
p {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}

b,
strong {
  font-weight: bold;
}

.text-container {
  h2,
  h3,
  h4 {
    margin-top: var(--space-sm);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-md);
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    line-height: var(--body-line-height);
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }
}

/* utility classes */
.truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  height: 100vh;
}

.navbar-menu {
  padding: 1.5rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-end a {
  padding: 0.25rem 0;
  margin-right: 2.5rem;
  cursor: pointer;
  transition: 0.7s;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #fff;
  transition: 0.7s;
}

.navbar-menu a.navbar-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: $primary;
  height: 2px;
  transition: width 0.25s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
}

a.navbar-item:hover::after {
  width: 100%;
  opacity: 1;
}

.navbar-burger.is-active span {
  background-color: $primary;
}

.scrolled {
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s, color 0.5s, background-color 0.5s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: $primary;
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $primary;
  }
}

.button {
  border-width: 2px;
}

.hero-body {
  padding: 5rem 1.5rem;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
  box-shadow: 0 0.2rem 0.5rem rgba(103, 110, 144, 0.4),
    0 0 0 0.1rem rgba(103, 110, 144, 0.05);
  opacity: 0.8;
  transition: 0.7s;
}

.is-secondary {
  background-color: $secondary;
  color: #fff;
}

.is-primary {
  background-color: $primary;
  color: #fff;
}

.box {
  // background-color: white;
  // border-radius: 15px;
  // box-shadow: 0 5px 5px 0 rgba(123, 149, 160, 0.5), 0 0 0 1px #e6ecf8;
  // color: #141c3a;
  // display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.title {
  color: #fff;
}

.title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #fff;
}

.avatar {
  margin: 2rem 0;
  width: 210px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
  margin: auto;
}

hr.light {
  border-color: #fff;
}

.section.is-medium {
  padding-top: 3rem;
}

.section.about {
  margin-top: -10rem;
  padding-bottom: 7rem;
}

@media (max-width: 768px) {
  .section.about {
    margin-top: -5rem;
    padding-bottom: 7rem;
  }
}
